<template id="tmpl-version-history">
  <tr>
    <td><input name="version_revision[]" placeholder="R#"/></td>
    <td><input name="version_details[]" placeholder="Revision details"/></td>
    <td><input name="version_date[]" type="date"/></td>
    <td><button type="button" class="btn-remove" onclick="removeRow(this)"><i class="fas fa-trash"></i></button></td>
  </tr>
</template>

<template id="tmpl-equipment">
  <tr>
    <td><input name="equipment_sno[]" placeholder="1"/></td>
    <td><input name="equipment_model[]" placeholder="Model"/></td>
    <td><input name="equipment_description[]" placeholder="Description"/></td>
    <td><input name="equipment_quantity[]" placeholder="1"/></td>
    <td><input name="equipment_remarks[]" placeholder="Remarks"/></td>
    <td><button type="button" class="btn-remove" onclick="removeRow(this)"><i class="fas fa-trash"></i></button></td>
  </tr>
</template>

<template id="tmpl-protocol">
  <tr>
    <td><input name="protocol_type[]" placeholder="Protocol"/></td>
    <td><input name="protocol_details[]" placeholder="Communication details"/></td>
    <td><input name="protocol_remarks[]" placeholder="Remarks"/></td>
    <td><button type="button" class="btn-remove" onclick="removeRow(this)"><i class="fas fa-trash"></i></button></td>
  </tr>
</template>

<template id="tmpl-io">
  <tr>
    <td><input name="io_signal_type[]" placeholder="Signal Type"/></td>
    <td><input name="io_signal_tag[]" placeholder="Signal Tag"/></td>
    <td><input name="io_description[]" placeholder="Description"/></td>
    <td><button type="button" class="btn-remove" onclick="removeRow(this)"><i class="fas fa-trash"></i></button></td>
  </tr>
</template>

<template id="tmpl-digital-signal">
  <tr>
    <td><input name="digital_s_no[]" placeholder="S.No"/></td>
    <td><input name="digital_rack[]" placeholder="Rack"/></td>
    <td><input name="digital_pos[]" placeholder="Pos"/></td>
    <td><input name="digital_signal_tag[]" placeholder="Signal TAG"/></td>
    <td><input name="digital_description[]" placeholder="Description"/></td>
    <td>
      <select name="digital_result[]">
        <option value="Pass">Pass</option>
        <option value="Fail">Fail</option>
        <option value="N/A">N/A</option>
      </select>
    </td>
    <td><input name="digital_punch[]" placeholder="Punch"/></td>
    <td><input name="digital_verified[]" placeholder="Verified"/></td>
    <td><input name="digital_comment[]" placeholder="Comment"/></td>
    <td><button type="button" class="btn-remove" onclick="removeRow(this)"><i class="fas fa-trash"></i></button></td>
  </tr>
</template>

<template id="tmpl-analogue-input">
  <tr>
    <td><input name="analogue_input_s_no[]" placeholder="S.No"/></td>
    <td><input name="analogue_input_rack_no[]" placeholder="Rack No"/></td>
    <td><input name="analogue_input_module_position[]" placeholder="Module Position"/></td>
    <td><input name="analogue_input_signal_tag[]" placeholder="Signal TAG"/></td>
    <td><input name="analogue_input_description[]" placeholder="Description"/></td>
    <td>
      <select name="analogue_input_result[]">
        <option value="Pass">Pass</option>
        <option value="Fail">Fail</option>
        <option value="N/A">N/A</option>
      </select>
    </td>
    <td><input name="analogue_input_punch_item[]" placeholder="Punch Item"/></td>
    <td><input name="analogue_input_verified_by[]" placeholder="Verified By"/></td>
    <td><input name="analogue_input_comment[]" placeholder="Comment"/></td>
    <td><button type="button" class="btn-remove" onclick="removeRow(this)"><i class="fas fa-trash"></i></button></td>
  </tr>
</template>

<template id="tmpl-analogue-output">
  <tr>
    <td><input name="analogue_output_s_no[]" placeholder="S.No"/></td>
    <td><input name="analogue_output_rack_no[]" placeholder="Rack No"/></td>
    <td><input name="analogue_output_module_position[]" placeholder="Module Position"/></td>
    <td><input name="analogue_output_signal_tag[]" placeholder="Signal TAG"/></td>
    <td><input name="analogue_output_description[]" placeholder="Description"/></td>
    <td>
      <select name="analogue_output_result[]">
        <option value="Pass">Pass</option>
        <option value="Fail">Fail</option>
        <option value="N/A">N/A</option>
      </select>
    </td>
    <td><input name="analogue_output_punch_item[]" placeholder="Punch Item"/></td>
    <td><input name="analogue_output_verified_by[]" placeholder="Verified By"/></td>
    <td><input name="analogue_output_comment[]" placeholder="Comment"/></td>
    <td><button type="button" class="btn-remove" onclick="removeRow(this)"><i class="fas fa-trash"></i></button></td>
  </tr>
</template>

<template id="tmpl-digital-output">
  <tr>
    <td><input name="digital_output_s_no[]" placeholder="S.No"/></td>
    <td><input name="digital_output_rack_no[]" placeholder="Rack No"/></td>
    <td><input name="digital_output_module_position[]" placeholder="Module Position"/></td>
    <td><input name="digital_output_signal_tag[]" placeholder="Signal TAG"/></td>
    <td><input name="digital_output_description[]" placeholder="Description"/></td>
    <td>
      <select name="digital_output_result[]">
        <option value="Pass">Pass</option>
        <option value="Fail">Fail</option>
        <option value="N/A">N/A</option>
      </select>
    </td>
    <td><input name="digital_output_punch_item[]" placeholder="Punch Item"/></td>
    <td><input name="digital_output_verified_by[]" placeholder="Verified By"/></td>
    <td><input name="digital_output_comment[]" placeholder="Comment"/></td>
    <td><button type="button" class="btn-remove" onclick="removeRow(this)"><i class="fas fa-trash"></i></button></td>
  </tr>
</template>

<template id="tmpl-modbus-digital-signal">
  <tr>
    <td><input name="modbus_digital_signal_address[]" placeholder="Address"/></td>
    <td><input name="modbus_digital_signal_description[]" placeholder="Description"/></td>
    <td><input name="modbus_digital_signal_remarks[]" placeholder="Remarks"/></td>
    <td>
      <select name="modbus_digital_signal_result[]">
        <option value="Pass">Pass</option>
        <option value="Fail">Fail</option>
        <option value="N/A">N/A</option>
      </select>
    </td>
    <td><input name="modbus_digital_signal_punch_item[]" placeholder="Punch Item"/></td>
    <td><input name="modbus_digital_signal_verified_by[]" placeholder="Verified By"/></td>
    <td><input name="modbus_digital_signal_comment[]" placeholder="Comment"/></td>
    <td><button type="button" class="btn-remove" onclick="removeRow(this)"><i class="fas fa-trash"></i></button></td>
  </tr>
</template>

<template id="tmpl-modbus-analogue-signal">
  <tr>
    <td><input name="modbus_analogue_signal_address[]" placeholder="Address"/></td>
    <td><input name="modbus_analogue_signal_description[]" placeholder="Description"/></td>
    <td><input name="modbus_analogue_signal_range[]" placeholder="Range"/></td>
    <td>
      <select name="modbus_analogue_signal_result[]">
        <option value="Pass">Pass</option>
        <option value="Fail">Fail</option>
        <option value="N/A">N/A</option>
      </select>
    </td>
    <td><input name="modbus_analogue_signal_punch_item[]" placeholder="Punch Item"/></td>
    <td><input name="modbus_analogue_signal_verified_by[]" placeholder="Verified By"/></td>
    <td><input name="modbus_analogue_signal_comment[]" placeholder="Comment"/></td>
    <td><button type="button" class="btn-remove" onclick="removeRow(this)"><i class="fas fa-trash"></i></button></td>
  </tr>
</template>

<template id="tmpl-modbus-digital">
  <tr>
    <td><input name="modbus_digital_s_no[]" placeholder="S.No"/></td>
    <td><input name="modbus_digital_address[]" placeholder="Address"/></td>
    <td><input name="modbus_digital_description[]" placeholder="Description"/></td>
    <td><input name="modbus_digital_remarks[]" placeholder="Remarks"/></td>
    <td><button type="button" class="btn-remove" onclick="removeRow(this)"><i class="fas fa-trash"></i></button></td>
  </tr>
</template>

<template id="tmpl-modbus-analog">
  <tr>
    <td><input name="modbus_analog_s_no[]" placeholder="S.No"/></td>
    <td><input name="modbus_analog_address[]" placeholder="Address"/></td>
    <td><input name="modbus_analog_description[]" placeholder="Description"/></td>
    <td><input name="modbus_analog_remarks[]" placeholder="Remarks"/></td>
    <td><button type="button" class="btn-remove" onclick="removeRow(this)"><i class="fas fa-trash"></i></button></td>
  </tr>
</template>
